{% extends 'base.html' %}

{% block register %}
<h1>비밀번호 변경</h1>

<form action="" method="post">
    {% csrf_token %}
    {% if form.errors %}
        <p>아래 내용을 다시 확인하세요.</p>
    {% endif %}
    <div>
        <label for="id_old_password">아이디</label> {{ form.old_password }}<br>
        <label for="id_new_password1">새 비밀번호</label> {{ form.new_password1 }}<br>
        <label for="id_new_password2">재확인</label> {{ form.new_password2 }}<br>
    </div>
    <input type="submit" value="비밀번호 변경">
</form>
{% endblock %}